/******************************
Styles for lines visualization
******************************/

#content {
    width: 925px;
    margin: 0 auto;
}
#filters {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
#filters a {
    color: #000;
    font-size: 12px;
    padding: 5px;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 3px;
}
#filters a:last-child {
    margin-right: 0;
}

#vis {
    min-height: 550px;
}

path {
    stroke: #e2e2e2;
    stroke-width: 2.0;
    fill: none;
    pointer-events: all;
    cursor: pointer;
}
path.current, path.highlight.current {
    stroke: #000;
    stroke-width: 2.0;
}
.FW.highlight {
	stroke: #c0392b;
}
.SW.highlight {
    stroke: #d35400;
}
.ME.highlight {
    stroke: #f39c12;
}
.SE.highlight {
    stroke: #27ae60;
}
.MT.highlight {
    stroke: #17a88c;
}
.GL.highlight {
    stroke: #2980b9;
}
.GP.highlight {
    stroke: #8e44ad;
}
.NE.highlight {
	stroke: #34495e;
}
.highlight {
    stroke-width: 2px;
}
line {
    stroke: black;
}
text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.axis {
    stroke-width: 0.8;
    stroke: #000;
}
.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}
#cite {
    font-size: 0.8em;
    text-align: right;
    margin-top: 10px;
    padding-bottom: 20px;
}

