/****************************************
PRESENTATION STYLESHEET
This stylesheet will be compiled into 
CSS for use with the presentation
*****************************************/
/*************************************
RESET 

Reset all of the styles, just in case 
**************************************/
/* Using Eric Meyer's reset. See more at 
http://meyerweb.com/eric/tools/css/reset/ */
/* line 22, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 39, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 42, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************************
VARIABLES

These are the variables used in
the other stylesheets.
-- Color
-- Typography
***********************************/
/* COLORS */
/* TYPOGRAPHY */
/***************************************
ELEMENTS

These are the basic HTML elements that 
are not specific to a single slide
***************************************/
/* Basic element styles */
/* line 9, ../sass/_elements.scss */
body {
  font-family: "PT Sans", sans-serif;
  min-height: 740px;
}

/* line 14, ../sass/_elements.scss */
b, strong {
  font-weight: bold;
}

/* line 15, ../sass/_elements.scss */
i, em {
  font-style: italic;
}

/* line 17, ../sass/_elements.scss */
a {
  color: #6db33f;
}

/* line 21, ../sass/_elements.scss */
a:focus, a:hover {
  color: #5b8067;
}

/* line 25, ../sass/_elements.scss */
p {
  line-height: 1.5em;
  font-size: 18px;
  color: #444444;
}

/* line 31, ../sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", serif;
  margin-bottom: .5em;
  color: #5b8067;
}

/* line 37, ../sass/_elements.scss */
h1, .h1 {
  font-size: 5em;
}

/* line 41, ../sass/_elements.scss */
h2, .h2 {
  font-size: 4em;
}

/* line 45, ../sass/_elements.scss */
h3, .h3 {
  font-size: 3em;
}

/* line 49, ../sass/_elements.scss */
h4, .h4 {
  font-size: 2em;
}

/* line 53, ../sass/_elements.scss */
h5, .h5 {
  font-size: 1.5em;
}

/* line 57, ../sass/_elements.scss */
.slide-title {
  margin-bottom: 0;
  padding-bottom: .3em;
  border-bottom: 1px solid #eeeeee;
}

/* line 63, ../sass/_elements.scss */
.button {
  background: #3b6e8f;
  border: 0;
  border-radius: 6px;
  color: #f4f4f4;
  font-size: 1em;
  padding: .3em .5em;
}

/* Previous and next buttons */
/* line 74, ../sass/_elements.scss */
.nav-button {
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
}

/* line 83, ../sass/_elements.scss */
.nav-button:hover {
  opacity: 1;
}

/* line 87, ../sass/_elements.scss */
#prev {
  position: absolute;
  bottom: 10px;
  left: 5px;
  background: #3b6e8f url("../img/arrow-left.svg") no-repeat -15px center;
  background-size: 80px;
}

/* line 95, ../sass/_elements.scss */
#next {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: #3b6e8f url("../img/arrow-right.svg") no-repeat -5px center;
  background-size: 80px;
}

/* Slide-out menu */
/* line 105, ../sass/_elements.scss */
.contents-menu {
  color: #f4f4f4;
  background: #3b6e8f;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 5px;
}
/* line 114, ../sass/_elements.scss */
.contents-menu span {
  font-weight: bold;
}

/* line 119, ../sass/_elements.scss */
.contents {
  background: rgba(244, 244, 244, 0.9);
  line-height: 1.5em;
  max-width: 250px;
  color: #f4f4f4;
  position: absolute;
  right: -100%;
  top: 62px;
  border: 1px solid #3b6e8f;
  border-radius: 6px 0 0 6px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 135, ../sass/_elements.scss */
.contents a {
  color: #3b6e8f;
  text-decoration: none;
  font-size: .9em;
  width: 100%;
  padding: .5em 1em;
  line-height: 2.5em;
}
/* line 144, ../sass/_elements.scss */
.contents .h3 {
  background: #3b6e8f;
  font-size: 1em;
  font-family: "PT Sans", sans-serif;
  color: #f4f4f4;
  padding: .5em;
  margin: 0;
}
/* line 153, ../sass/_elements.scss */
.contents .navlinks li {
  border-bottom: 1px solid #3b6e8f;
  background: rgba(244, 244, 244, 0.9);
}
/* line 157, ../sass/_elements.scss */
.contents .navlinks li:hover {
  background: #4a8ab3;
  cursor: pointer;
}
/* line 161, ../sass/_elements.scss */
.contents .navlinks li:hover a {
  color: #f4f4f4;
}
/* line 165, ../sass/_elements.scss */
.contents .external-links li {
  border-bottom: 1px solid #3b6e8f;
}
/* line 168, ../sass/_elements.scss */
.contents .external-links li:hover {
  background: #4a8ab3;
  cursor: pointer;
}
/* line 172, ../sass/_elements.scss */
.contents .external-links li:hover a {
  color: #f4f4f4;
}
/* line 175, ../sass/_elements.scss */
.contents .external-links li:last-child {
  border-bottom: 0;
}

/* line 181, ../sass/_elements.scss */
.menu-active .contents {
  right: 0;
}

/* line 185, ../sass/_elements.scss */
.citation {
  position: absolute;
  bottom: 0px;
  right: 150px;
}

/* line 191, ../sass/_elements.scss */
.image-wrap {
  width: 100%;
}
/* line 194, ../sass/_elements.scss */
.image-wrap img {
  max-height: 600px;
}

/* line 199, ../sass/_elements.scss */
.double-wrap {
  width: 1180px;
}
/* line 202, ../sass/_elements.scss */
.double-wrap img {
  width: 45%;
}

/*********************************
MESSAGES

This stylesheet controls how hints
and messages are displayed before 
the presentation.
**********************************/
/* line 9, ../sass/_messages.scss */
.fallback-message {
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
  color: #f4f4f4;
  background: #98a094;
  background: rgba(152, 160, 148, 0.7);
  padding: 1em;
}
/* line 18, ../sass/_messages.scss */
.fallback-message p {
  padding: .5em 0;
}

/* line 23, ../sass/_messages.scss */
.impress-supported .fallback-message {
  display: none;
}

/***************************
SLIDES

This is basic styling for 
individual steps 
****************************/
/* line 8, ../sass/_slides.scss */
.step {
  position: relative;
  width: 1180px;
  height: 700px;
  padding: 40px;
  margin: 0px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Make inactive slides invisible */
/* line 24, ../sass/_slides.scss */
.impress-enabled .step {
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 35, ../sass/_slides.scss */
.impress-enabled .step.active {
  opacity: 1;
}

/* line 38, ../sass/_slides.scss */
.slide {
  display: block;
  width: 1000px;
  height: 700px;
  padding: 0 60px;
}

/* line 45, ../sass/_slides.scss */
.visualization {
  padding: 0 0;
}

/* line 51, ../sass/_slides.scss */
#introduction .subtitle {
  color: #a2a2a2;
  margin: 0;
}
/* line 56, ../sass/_slides.scss */
#introduction .gallery {
  width: 1180px;
  text-align: center;
}
/* line 60, ../sass/_slides.scss */
#introduction .gallery .tile {
  width: 32%;
  padding-right: 1%;
  display: inline-block;
  overflow: hidden;
  height: 250px;
}
/* line 67, ../sass/_slides.scss */
#introduction .gallery .tile img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 75, ../sass/_slides.scss */
#introduction .text {
  margin-top: 2em;
  margin-left: 2em;
  padding: 2em 0;
  text-align: center;
  border-top: 4px double #5b8067;
  border-bottom: 4px double #5b8067;
}
/* line 84, ../sass/_slides.scss */
#introduction p {
  text-align: center;
  padding-top: 5em;
}

/* line 91, ../sass/_slides.scss */
#acknowledgements {
  text-align: center;
}
/* line 94, ../sass/_slides.scss */
#acknowledgements .text {
  margin-top: 3em;
  margin-left: 2em;
  margin-bottom: 2em;
  padding: 2em 0;
  text-align: center;
  border-top: 4px double #5b8067;
  border-bottom: 4px double #5b8067;
}
/* line 104, ../sass/_slides.scss */
#acknowledgements .gallery {
  width: 1000px;
  text-align: center;
}
/* line 108, ../sass/_slides.scss */
#acknowledgements .gallery .tile {
  width: 25%;
  padding-right: 5%;
  display: inline-block;
  overflow: hidden;
}
/* line 114, ../sass/_slides.scss */
#acknowledgements .gallery .tile img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 125, ../sass/_slides.scss */
#questions .questions {
  width: 45%;
  float: left;
  padding-top: 4em;
}
/* line 131, ../sass/_slides.scss */
#questions .image {
  width: 50%;
  float: right;
  padding-top: 8em;
}
/* line 136, ../sass/_slides.scss */
#questions .image img {
  width: 100%;
}
/* line 141, ../sass/_slides.scss */
#questions p {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
  color: #5b8067;
}
/* line 147, ../sass/_slides.scss */
#questions p span {
  font-weight: bold;
  font-size: 1.1em;
}

/* line 154, ../sass/_slides.scss */
.spaghetti {
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
}
/* line 159, ../sass/_slides.scss */
.spaghetti h1 {
  margin-bottom: .2em;
}
/* line 163, ../sass/_slides.scss */
.spaghetti h2 {
  font-size: 2em;
}
/* line 165, ../sass/_slides.scss */
.spaghetti .data-contents {
  border-top: 1px solid #dedede;
  padding-top: 1.5em;
  width: 1300px;
}
/* line 170, ../sass/_slides.scss */
.spaghetti .description {
  float: left;
  width: 300px;
}
/* line 175, ../sass/_slides.scss */
.spaghetti .visualization-right {
  float: right;
  width: 930px;
}

/* line 182, ../sass/_slides.scss */
#teen-births .maps {
  float: left;
  width: 80%;
  overflow: hidden;
  height: 500px;
}
/* line 188, ../sass/_slides.scss */
#teen-births .maps img {
  display: block;
  width: 100%;
  margin-top: -50px;
}

/* line 197, ../sass/_slides.scss */
#poverty .double-wrap img:last-child {
  display: none;
}

/************************
VISUALIZATIONS

Custom modifications to 
visualization styling
************************/
/* line 8, ../sass/_visualizations.scss */
#dashboard h1 {
  padding-top: .2em;
  margin-bottom: 0;
  padding-bottom: .3em;
  border-bottom: 1px solid #eeeeee;
}

/* line 15, ../sass/_visualizations.scss */
.county_dashboard {
  width: 900px;
}

/* line 20, ../sass/_visualizations.scss */
.dashboard_1 #radios {
  margin-right: 220px;
}

/* line 26, ../sass/_visualizations.scss */
.spaghetti #filters {
  font-family: "PT Sans", sans-serif;
  margin-left: 1.5em;
}
/* line 30, ../sass/_visualizations.scss */
.spaghetti #filters li {
  margin: 1.3em 0;
  display: inline-block;
}
/* line 35, ../sass/_visualizations.scss */
.spaghetti #filters a {
  font-size: 1em;
  width: 100%;
  background: #3b6e8f;
  color: #f4f4f4;
  border-radius: 3px;
}
/* line 42, ../sass/_visualizations.scss */
.spaghetti #filters a.FW {
  background: #c0392b;
}
/* line 45, ../sass/_visualizations.scss */
.spaghetti #filters a.SW {
  background: #d35400;
}
/* line 48, ../sass/_visualizations.scss */
.spaghetti #filters a.ME {
  background: #f39c12;
}
/* line 51, ../sass/_visualizations.scss */
.spaghetti #filters a.SE {
  background: #27ae60;
}
/* line 54, ../sass/_visualizations.scss */
.spaghetti #filters a.MT {
  background: #17a88c;
}
/* line 57, ../sass/_visualizations.scss */
.spaghetti #filters a.GL {
  background: #2980b9;
}
/* line 60, ../sass/_visualizations.scss */
.spaghetti #filters a.GP {
  background: #8e44ad;
}
/* line 63, ../sass/_visualizations.scss */
.spaghetti #filters a.NE {
  background: #34495e;
}
/* line 69, ../sass/_visualizations.scss */
.spaghetti #blurb {
  margin-top: 3em;
  padding: 1em;
  background: #eeeeee;
  height: 170px;
  position: relative;
  border-radius: 3px;
}
/* line 77, ../sass/_visualizations.scss */
.spaghetti #blurb:after {
  position: absolute;
  content: "";
  top: 75px;
  right: -49px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 50px solid #eeeeee;
}
/* line 90, ../sass/_visualizations.scss */
.spaghetti .directions {
  color: #888888;
  margin-bottom: 0;
  padding-left: 1.5em;
}

/* line 97, ../sass/_visualizations.scss */
.map-wrap {
  clear: both;
}
/* line 100, ../sass/_visualizations.scss */
.map-wrap .map {
  width: 80%;
  margin-top: 2em;
  float: left;
}
/* line 106, ../sass/_visualizations.scss */
.map-wrap .legend {
  position: absolute;
  bottom: 5em;
  right: 0;
  width: 100px;
}

/* line 114, ../sass/_visualizations.scss */
.toggles {
  margin-top: 2em;
  width: 170px;
  float: right;
}
/* line 119, ../sass/_visualizations.scss */
.toggles .controls {
  padding-bottom: 1em;
}
/* line 122, ../sass/_visualizations.scss */
.toggles .controls li {
  padding: .5em 1em;
  margin: .5em;
  background: #3b6e8f;
  color: #f4f4f4;
  text-align: center;
  cursor: pointer;
}
/* line 130, ../sass/_visualizations.scss */
.toggles .controls li.highlighted {
  background: #a3dce6;
  color: #3b6e8f;
}
