/***************************************
ELEMENTS

These are the basic HTML elements that 
are not specific to a single slide
***************************************/

@media screen and (max-width: 600px){
	.impress-supported #impress{
		overflow: hidden;
	}
}
/* Basic element styles */
body {
	font-family: $sans-serif;
	min-height: 740px;
}

button:focus {outline: none; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }

a {
	color: $med-green;
}

a:focus, a:hover{
	color: $dark-green;
}

p {
	line-height: 1.5em;
	font-size: 18px;
	color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $slab;
	margin-bottom: .5em;
	color: $dark-green;
}

h1, .h1 {
	font-size: 5em;
}

h2, .h2 {
	font-size: 4em;
}

h3, .h3 {
	font-size: 2.8em;
}

h4, .h4 {
	font-size: 2em;
}

h5, .h5 {
	font-size: 1.5em;
}

h6, .h6 {
	font-size: 1.2em;
}

.slide-title {
	margin-bottom: .3em;
	padding-bottom: .3em;
	border-bottom: 1px solid $light-gray;
}

.chart-titles {
    width: 1180px;
    padding-top: 2em;

    @media screen and (max-width: 800px){
        width: $tablet;
    }

    h2 {
        width: 45%;
        display: inline-block;
        padding: 0 15px;
        font-family: $sans-serif;
        color: $dark-gray;
    }
}

.button {
	background: $dark-blue;
	border: 0;
	border-radius: 6px;
	color: $white;
	font-size: 1em;
	padding: .3em .5em;
}

.image-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1000;
	width: 90%;
}

/* Previous and next buttons */

.nav-button {
	border: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	opacity: .5;
}

.nav-button:hover {
	opacity: 1;
}

#prev {
	position: absolute;
	bottom: 10px;
	left: 5px;
	background: $dark-blue url("../img/arrow-left.svg") no-repeat -15px center;
	background-size: 80px;
}

#next {
	position: absolute;
	bottom: 10px;
	right: 5px;
	background: $dark-blue url("../img/arrow-right.svg") no-repeat -5px center;
	background-size: 80px;
}

/* Slide-out menu */

.contents-menu {
	color: $white;
	background: $dark-blue;
	cursor: pointer;
	font-size: 1.2em;
	position: absolute;
	top: 10px;
	right: 5px;
	pointer-events: auto;

	span {
		font-weight: bold;
	}

/*	&.mobile {
		display: none;
	}
*/
}

.contents {
	background: rgba($white, .9);
	line-height: 1.5em;
	max-width: 250px;
	color: $white;
	position: absolute;
	right: -100%;
	top: 62px;
	border: 1px solid $dark-blue;
	border-radius: 6px 0 0 6px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	a {
		color: $dark-blue;
		text-decoration: none;
		font-size: .9em;
		width: 100%;
		padding: .5em 1em;
		line-height: 2.5em;
	}

	.h3 {
		background: $dark-blue;
		font-size: 1em;
		font-family: $sans-serif;
		color: $white;
		padding: .5em;
		margin: 0;
	}

	button.close-menu {
		position: absolute;
		top: 4px;
		left: 170px;
		width: 35px;
		height: 30px;
		cursor: pointer;
		background: none;
		border: 0;
		overflow: visible;

		img {
			width: 25px;
			height: 25px;
			margin-left: -1px;
			margin-top: 1px;
			border: 1px solid $light-gray;
			border-radius: 50%;
			cursor: pointer;
			background: $dark-gray;
			z-index: 1000;
		}
	}

	.navlinks li {
		border-bottom: 1px solid $dark-blue;
		background: rgba($white, .9);

		&:hover {
			background: lighten($dark-blue, 10%);
			cursor: pointer;

			a { color: $white;}
		}
	}

	.external-links li {
		border-bottom: 1px solid $dark-blue;

		&:hover {
			background: lighten($dark-blue, 10%);
			cursor: pointer;

			a { color: $white; }
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

.menu-active .contents {
	right: 0;
}

/* Slide numbers */

.slide-number {
	position: absolute;
	left: 10px;
	top: 10px;
	color: $dark-blue;
	font-size: 1.5em;
}

#introduction,
#acknowledgements,
#credits {
	.slide-number {
		display: none;
	}
}

/* Image and citation elements */
.citation {
	position: absolute;
	bottom: 0;
	right: 0;
}

.image-wrap {
	width: 100%;
	text-align: center;

	img {
		max-height: 600px;
	}
}

.double-wrap {
	width: 1180px;

	@media screen and (max-width: 800px){
        width: $tablet;
    }

	img {
		width: 45%;
	}
}

.image-and-text {

	img {
		width: 60%;
	}

	p {
		width: 35%;
		float: right;
		font-size: 1.5em;
		padding-top: 5em;
	}
}

.social-icons {
	li {
		display: inline-block;
		margin-right: 1em;
		width: 3em;

		img {
			width: 100%;
		}
	}
}

.contact-table {
	font-size: 1.5em;

	td {
		padding: 1em;
	}
}