/*********************************
MESSAGES

This stylesheet controls how hints
and messages are displayed before 
the presentation.
**********************************/

.fallback-message {
	text-align: center;
	width: 1300px;
	background: rgba($dark-gray, .9);
	padding: 10em 0 10em 0;
	height: 1200px;
	z-index: 5000;
	position: absolute;

	p {
		padding: .5em;
		font-size: 72px;
		color: $white;
	}
}

.impress-supported .fallback-message {

	@media screen and (min-width: 600px){
		display: none;
	}
}
