/***************************
SLIDES

This is basic styling for 
individual steps 
****************************/

.step {
    position: relative;
    width: 1180px;
    height: 700px;
    padding: 40px;
    margin: 0px auto;

    @media screen and (max-width: 800px){
        width: $tablet;
    }

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

/* Make inactive slides invisible */

.impress-enabled .step {
    margin: 0;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;
    width: 1180px;
    height: 700px;
    padding: 0 60px;

    @media screen and (max-width: 800px){
        width: $tablet;
    }
}

.visualization {
    padding: 0 0;
}

.vis-wrap {
    overflow: hidden;
}

.text-slide {
    text-align: center;
    padding: 2em;
    margin-top: 15%;
    border-top: 4px double $dark-green;
    border-bottom: 4px double $dark-green;

    p {
        font-size: 1.5em;
        line-height: 1.8em;
    }
}

#introduction {

    .subtitle {
        color: darken($light-gray, 30%);
        margin: 0;
    }

    .gallery {
        width: 1180px;
        text-align: center;

            @media screen and (max-width: 800px){
        width: $tablet;
    }

        .tile {
            width: 32%;
            padding-right: 1%;
            display: inline-block;
            overflow: hidden;
            height: 250px;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .text {
        margin-top: 2em;
        margin-left: 2em;
        padding: 2em 0;
        text-align: center;
        border-top: 4px double $dark-green;
        border-bottom: 4px double $dark-green;
    }

    p {
        text-align: center;
        padding-top: 5em;
    }

}

#acknowledgements {
    text-align: center;

    .text {
        margin-top: 3em;
        margin-left: 2em;
        margin-bottom: 2em;
        padding: 2em 0;
        text-align: center;
        border-top: 4px double $dark-green;
        border-bottom: 4px double $dark-green;
    }

    .gallery {
        width: 1180px;
        text-align: center;
        padding-bottom: 4em;

        .tile {
            width: 25%;
            padding-right: 5%;
            display: inline-block;
            max-height: 100px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

#agenda {
    p {
        font-size: 2em;
        padding-top: 1em;
    }

    .num {
        color: $white;
        background: $dark-green;
        padding: .2em .5em;
        border-radius: 50%;
    }
}

#questions {

    .questions {
        width: 45%;
        float: left;
        padding-top: 2em;
    }

    .image {
        width: 50%;
        float: right;
        padding-top: 2em;

        img {
            width: 100%;
        }
    }

    .question { 
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: 1.5em;

        span {
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}

.spaghetti {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden;

    h1 {
        margin-bottom: .2em;
    }

    h2 { font-size: 2em;}

    .data-contents {
        padding-top: 1em;
        width: 1300px;
    }
    .description {
        float: left;
        width: 300px;
    }

    .visualization-right {
        float: right;
        width: 930px;
    }
}

#teen-births {
    overflow: hidden;
}

#birth-maps {
    overflow: hidden;
    margin-left: -3em;
    .maps {
        float: left;
        width: 80%;
        overflow: hidden;
        height: 500px;

        img {
            display: block;
            width: 100%;
            margin-top: -50px;
        }
    }
}


#sources {
    ul {
        margin-top: 1em;
        text-align: center;

        li {
            font-size: 1.5em;
            padding: .5em 0;
        }
    }

    .text-slide {
        margin-top: 10%;
    }
}

#credits {
    .text-slide p {
        padding-bottom: 1em;
    }
}

#committee {
    h2 {
        padding-top: 1em;
    }
}

#notes {
    ul {
        margin-left: 3em;

        li {
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }
}