/***************************
SLIDES

This is basic styling for 
individual steps 
****************************/

.step {
    position: relative;
    width: 1140px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

/* Make inactive slides slightly transparent */

.impress-enabled .step {
    margin: 0;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


.slide {
    display: block;
    width: 1000px;
    height: 700px;
    padding: 40px 60px;
}

#introduction {
    .subtitle {
        color: darken($light-gray, 30%);
        text-align: right;
        padding-top: 1em;
    }

    .intro-image {
        text-align: center;
        padding-top: 1em;

        img {
            width: 100%;
        }
    }

    .path {
      stroke-dasharray: 1000;
      animation: dash 5s linear;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 1000;
      }
    }
}

.spaghetti {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden;

    h1 {
        margin-bottom: .2em;
    }

    h2 { font-size: 2em;}

    .data-contents {
        border-top: 1px solid #dedede;
        padding-top: 1.5em;
        width: 1300px;
    }
    .description {
        float: left;
        width: 300px;
    }

    .visualization-right {
        float: right;
        width: 930px;
    }
}

