/***********************************
VARIABLES

These are the variables used in
the other stylesheets.
-- Color
-- Typography
***********************************/


/* COLORS */

$white:			#f4f4f4;
$light-gray:	#eee;
$dark-gray:		#444;
$black:			#000;

$light-green:	#CDE2BC;
$med-green:		#6DB33F;
$dark-green:	#5B8067;
$sage:			#C2D0B8;
$brown:			#98A094;
$dark-brown:	#E7EBCF;
$light-blue:	#A3DCE6;
$dark-blue:		#3B6E8F;


/* TYPOGRAPHY */

$slab:			"Arvo", serif;
$sans-serif:	"PT Sans", sans-serif;