/************************
VISUALIZATIONS

Custom modifications to 
visualization styling
************************/

#dashboard h1 {
	padding-top: .2em;
	margin-bottom: 0;
	padding-bottom: .3em;
	border-bottom: 1px solid $light-gray;
}

.county_dashboard {
    width: 900px;
}

.dashboard_1 {
    #radios {
        margin-right: 220px;
    }

    #t_population {
        margin-left: 15%;
    }
}

.dashboard_2 {
    #radios {
        margin-right: 220px;
    }


    #t_trend {
        position: absolute;
        top: 2em;
        right: 250px;
        width: 20%;
    }
}

#dashboard_text {
    position: absolute;
    top: 8em;
    right: 250px;
    width: 20%;
}

.spaghetti {
	#filters {
       font-family: $sans-serif;
       margin-left: 1.5em;

       li {
            margin: 1.3em 0;
            display: inline-block;
       }

       a {
            font-size: 1em;
            width: 100%;
            background: $dark-blue;
            color: $white;
            border-radius: 3px;

            &.FW {
                background: #c0392b;
            }
            &.SW {
                background: #d35400;
            }
            &.ME {
                background: #f39c12;
            }
            &.SE {
                background: #27ae60;
            }
            &.MT {
                background: #17a88c;
            }
            &.GL {
                background: #2980b9;
            }
            &.GP {
                background: #8e44ad;
            }
            &.NE {
                background: #34495e;
            }
       }
    }

    #blurb {
        margin-top: 3em;
        padding: 1em;
        background: $light-gray;
        height: 170px;
        position: relative;
        border-radius: 3px;

        &:after {
            position: absolute;
            content: "";
            top: 75px;
            right: -49px;
            width: 0; 
            height: 0; 
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 50px solid $light-gray;
        }
    }

    .directions {
        color: darken($light-gray, 40%);
        margin-bottom: 0;
        padding-left: 1.5em;
    }
}

.map-wrap {
    clear: both;

    .map {
        width: 80%;
        margin-top: 2em;
        float: left;
    }

    .legend {
         position: absolute;
         bottom: 5em;
         right: 5em;
         width: 100px;
    }
}

.toggles {
    margin-top: 2em;
    width: 170px;
    float: right;

    .controls {
        padding-bottom: 1em;

        li {
            padding: .5em 1em;
            margin: .5em;
            background: $dark-blue;
            color: $white;
            text-align: center;
            cursor: pointer;

            &.highlighted {
                background: $light-blue;
                color: $dark-blue;
            }
        }
    }
}

#birth-maps {
    height: 700px;
}